**/Library
**/ProjectSettings
**/Temp
**/UnityPackageManager
**/Assets/Materials
**/Assets/Museum_Models
**/Assets/Objects
**/Assets/ProCore
**/Assets/SimpleTouchController
**/Assets/StandardAssets
**/Assets/Scenes/AndroidScene
